.contain-button{
  margin-top: 30px;
  font-family: 'lato';
}

.contain-button p, .contain-footer p, .contain-text p, .contain-colors p{
  font-size: 1.5em;
}

.contain-button h2, .contain-footer h2, .contain-text h2, .contain-colors h2{
  font-weight: 600;
  display: inline-block;
  border-bottom: 3px solid #ffe521;
  padding-bottom: 0.6%;
}

.contain-btn h3, .contain-btn h4, .contain-cod h4, .contain-text h3, .contain-colors h3{
  margin: 20px 0px 10px 0px;
}

.but-small{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.but-medium{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 2em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.but-large{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 2.5em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.but-default, .but-chage, .but-active{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.code{
  font-size: 1.5em;
}
.but-chage:hover {
  background-color: #fff;
  border:1px solid #ffe521;
  color:#ffe521;
}
.but-active:focus{
  background-color: #ff009e;
  border:1px solid #ff009e;
  color:#fff;
  outline: #ff009e;
}

input{
  width: 30%;
}
h5{
  padding-bottom: %;
}
select{
  background-color: transparent;
  width: 30%;
  padding: 0.4%;
}
form{
  font-size: 118%;
  width: 150%;
}

.logo-footer{
  width: 140px;
  margin:30px 0px 15px 0px;
}

.footer{
  background-color: #000;
  color:#fff;
  margin:20px 0px 30px 0px;
}

.footer p{
  margin:0px;
  display: inline-block; 
  font-family: 'Open Sans'; 
}

.foo-cont{
  margin: 60px 0px 30px 0px;
}

.title{
  font-family: 'Bitter';
  font-size: 36px;
  margin-top: 50px;
}
.subtitle{
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.parraf{
  font-family: 'Open Sans';
  font-size: 12px;
}
.cont-black{
  width: 100px;
  height: 100px;
  background-color: #000;
}

.cont-white{
  width: 100px;
  height: 100px;
  background-color: #fff;
  border:1px solid  rgba(0, 0, 0, 0.1);
}

.cont-yellow{
  width: 100px;
  height: 100px;
  background-color: #FFE521;
}

.cont-magenta{
  width: 100px;
  height: 100px;
  background-color: #FF009E;
}

.cont-cyan{
  width: 100px;
  height: 100px;
  background-color: #56F89A;
}

.cont-col{
   margin:30px 17px 0px 0px;
}

.navbar-menu{
  background-color: #000;
  margin-bottom: 30px;
}

.navbar-menu-blank{
  border:1px solid  rgba(0, 0, 0, 0.1);
}

.logo-navbar{
  width: 120px;
  margin:16px 0px 10px 0px;
}
.logo-navbar-blank{
  width: 120px;
  margin:18px 0px 8px 0px;
}
.menu li{
  list-style: none;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 700;
  margin:18px 18px 10px 0px;
}

.menu a{
  color:#fff;
}

.menu a:hover{
  color:#FFE521;
}

.menu-blank li{
  list-style: none;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 700;
  margin:18px 18px 10px 0px;
}

.menu-blank a{
  color:#000;
}

.menu-blank a:hover{
  color:#FFE521;
}

