.contain-button{
  margin-top: 30px;
  font-family: 'lato';
}

.contain-button p, .contain-footer p, .contain-text p, .contain-colors p, .contain-image p, .contain-card p{
  font-size: 1.5em;
}

.contain-button h2, .contain-footer h2, .contain-text h2, .contain-colors h2, .contain-image h2, .contain-card h2{
  font-weight: 600;
  display: inline-block;
  border-bottom: 3px solid #ffe521;
  padding-bottom: 0.6%;
}

.contain-btn h3, .contain-btn h4, .contain-cod h4, .contain-text h3, .contain-colors h3, .contain-image h3, .contain-card h3{
  margin: 20px 0px 10px 0px;
}

.but-small{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.but-medium{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 2em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.but-large{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 2.5em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.but-default, .but-chage, .but-active{
  background-color: #ffe521;
  border:1px solid #ffe521;
  color:#000;
  font-family: 'Open Sans';
  font-size: 1.5em;
  font-weight: 700;
  margin:1em 3em 1em 0em;
  padding: 0.5em 1em;
}

.code{
  font-size: 1.5em;
}
.but-chage:hover {
  background-color: #fff;
  border:1px solid #ffe521;
  color:#ffe521;
}
.but-active:focus{
  background-color: #ff009e;
  border:1px solid #ff009e;
  color:#fff;
  outline: #ff009e;
}

input{
  width: 30%;
}
h5{
  padding-bottom: %;
}
select{
  background-color: transparent;
  width: 30%;
  padding: 0.4%;
}
form{
  font-size: 118%;
  width: 150%;
}

.logo-footer{
  width: 140px;
  margin:30px 0px 15px 0px;
}

.footer{
  background-color: #000;
  color:#fff;
  margin:20px 0px 30px 0px;
}

.footer p{
  margin:0px;
  display: inline-block;
  font-family: 'Open Sans';
}

.foo-cont{
  margin: 60px 0px 30px 0px;
}

.title{
  font-family: 'Bitter';
  font-size: 36px;
  margin-top: 50px;
}
.subtitle{
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.parraf{
  font-family: 'Open Sans';
  font-size: 12px;
}

.cont-black{
  width: 100px;
  height: 100px;
  background-color: #000;
}

.cont-white{
  width: 100px;
  height: 100px;
  background-color: #fff;
  border:1px solid  rgba(0, 0, 0, 0.1);
}

.cont-yellow{
  width: 100px;
  height: 100px;
  background-color: #FFE521;
}

.cont-magenta{
  width: 100px;
  height: 100px;
  background-color: #FF009E;
}

.cont-cyan{
  width: 100px;
  height: 100px;
  background-color: #56F89A;
}

.cont-col{
   margin:30px 17px 0px 0px;
}

.navbar-menu{
  background-color: #000;
  margin-bottom: 30px;
}

.navbar-menu-blank{
  border:1px solid  rgba(0, 0, 0, 0.1);
}

.logo-navbar{
  width: 120px;
  margin:16px 0px 10px 0px;
}
.logo-navbar-blank{
  width: 120px;
  margin:18px 0px 8px 0px;
}

.menu li{
  list-style: none;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 700;
  margin:18px 18px 10px 0px;
}

.menu a{
  color:#fff;
}

.menu a:hover{
  color:#FFE521;
}

.menu-blank li{
  list-style: none;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 700;
  margin:18px 18px 10px 0px;
}

.menu-blank a{
  color:#000;
}

.menu-blank a:hover{
  color:#FFE521;
}

/* Estilos Ejemplos Imagenes */

.images p {
  font-size: 1.5em;
}

.contenedor {
  border: 1px solid #b5b6ba;
  padding: 10px;
  margin: 4em 0em 3em 0em;
}

.imageResponsive-ex {
  background: #bbbdbd;
  height: 250px;
  width: 100%;
  display: block;
}

.imageThumbnail-ex {
  background: #bbbdbd;
  width: 200px;
  height: 200px;
  display: block;
}

.floatLeft-ex {
  background: #bbbdbd;
  height: 200px;
  width: 200px;
  display: inline-block;
}

.floatRight-ex {
  background: #bbbdbd;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin-left: 160px;
}

.imageAuto-ex {
  background: #bbbdbd;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  display: block;
}

/* Estilos Imagenes */

.image-responsive {
  height: auto;
  width: 100%;
  display: block;
}

.image-thumbnail {
  width: 200px;
  height: 200px;
  display: block;
}

.float-left {
  height: 200px;
  width: 200px;
  float: left;
}

.float-right {
  height: 200px;
  width: 200px;
  float: right;
}

.image-auto {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  display: block;
}

/* Estilos Card */

.card-ex {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  padding-bottom: 50px;
}

.card-image-ex {
  background: #d6d5d5;
  height: 180px;
  width: 100%;
  display: block;
}

.card {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

.card-image {
  height: 180px;
  width: 100%;
  display: block;
}

.card-body {
  padding: 1.25em;
  border: 1px solid #c7c9c6;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.card-title {
  margin-bottom: .75em;
  font-size: 2em;
}

.card-title h5 {
  margin-bottom: 1.25em;
  font-weight: 500;
  line-height: 1.2;
}
